---
layout: default
ref: index
lang: fr
---

{% include figure.html file="allLogos.png" alt="intro image here" width="95%" %}

<div class="home">

  <!-- <h1 class="page-heading">Articles</h1> -->
  <!-- <i>Visualisez ceci!</i> to <i>Faites-nous voir ça!</i> -->

  <p>Maintenant à sa 4ème année, <i>Faites-nous voir ça!</i> est un concours pancanadien qui vise à
  célébrer les façons novatrices par lesquelles la visualisation peut aider les chercheurs à explorer des
  ensembles de données et à répondre à des questions scientifiques importantes. <i>Faites-nous voir
  ça!</i> est votre chance de mettre votre créativité au défi, d’expérimenter de nouveaux outils de
  visualisation et de contribuer à la croissance de la visualisation de données au Canada!</p>

  <p>Cette année, le concours <i>Faites-nous voir ça!</i> est organisé par WestGrid, SciNet, SHARCNET et
  Calcul Québec, partenaires régionaux de Calcul Canada. En collaboration avec l'équipe de visualisation
  de Calcul Canada, nous souhaitons donner vie à vos idées de création et à vos processus de
  visualisation et les rendre accessibles à tous les chercheurs canadiens!</p>

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">suivre le <a href="{{ "/flux.xml" | prepend: site.baseurl }}">flux RSS</a></p>

</div>
