---
layout: default
ref: index
lang: en
---

{% include figure.html file="allLogos.png" alt="intro image here" width="95%" %}

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <p>Now in its 4th year, <i>Visualize This!</i> is a Canada-wide competition that aims to celebrate the
  innovative ways visualization can help researchers explore datasets and answer important scientific
  questions. <i>Visualize This!</i> is your chance to challenge your creativity, experiment with new
  visualization tools, and contribute to the growth of data visualization in Canada!</p>

  <p>This year's <i>Visualize This!</i> Challenge is hosted by WestGrid, SciNet, SHARCNET, and Calcul
  Québec -- three regional partners of Compute Canada. Together with
    <!-- (the-list-of-sponsors) and -->
    the Compute Canada's
  Visualization Team, we want to bring your creative visualization ideas and workflows to life and make
  them accessible to all Canadian researchers!</p>

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
